h3{
    text-align: center;

}
body{
    background-color: rgba(42, 44, 42, 0.301);
}
div.firstdiv{
 
   
    width: 90%;    
    margin: auto;
    
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    
}
div.cnct{
    text-align: center;
    margin: 30px;
    width: 300px;
    background-color: gray;
    font-size: 20px;
    font-weight: bold;
   
}
.cnct a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h3{
    margin-top: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.cnct:hover{
    color: greenyellow;
    cursor: pointer;
}
.form{
    
    width: 500px;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(6, 6, 49);
    color: white;
}
legend{
    text-align: center;
    font-size: 30px;
    
}
.feedback{
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    background-color: rgb(209, 117, 30);
}
h5{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.flexy{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
input[type=text] {
    margin-top: 10px;
    height: 25px;
    width: 100%;
    border-radius: 9px;
    border: 2px solid green;
    font-size: large;
    
}
input[type=text]:focus{
    background-color: aqua;
}
input[type=submit]{
    background-color: goldenrod;
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    border: none;
    font-weight: bold;
}
input[type=submit]:hover{
    background-color: gold;    ;

}
textarea{
    width: 100%;
    border-radius: 9px;
}
fieldset{
    border: none;
}
.footer{
    
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    right: 0;
    flex-wrap: wrap;
    background: linear-gradient(to right, black,gray,rgb(10, 10, 10));

}

.directions{
    color: rgb(65, 233, 14);
    padding: 20px;
   font-size: 20px;
   margin: auto;
}
.directions a{
    text-decoration: none;
    color: rgb(223, 184, 13);

}
.directions a:hover{
    color: brown;
}
.footr{
   
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#ftrl{
    color: antiquewhite;
    text-align: center;
}
.cnct {
    border-bottom: 3px solid burlywood;
}
