body{
    background-color: rgba(133, 156, 140, 0.301);
}
div.aboutme{
    margin-top: 80px;
    border: 2px solid green;
    max-width: 100%;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
    
}
.avtr{
    margin: 20px;
    border-radius: 125px;
    float: left;
}
.me{
    font-size: 25px;
    color: white;
}
.highlight{
    color: rgb(227, 252, 10);
}
.skill{
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    
    
}
h2.skl{
    text-align: center;
    margin: 20px 50% 5px 50%;
}
.frd{
    width: 400px;
   /* height: 180px;*/
    background-color: grey;
    font-size: 20px;
    margin: 20px;
}
.ft{
    text-align: center;
    color: gold;
    margin-bottom: 0;
}
.ftl{
    margin-left: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.footer{
   display: flex;
   flex-wrap: wrap;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to right, grey,rgb(11, 184, 40));
}
    


.footr{
   
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#ftrl{
    color: antiquewhite;
    text-align: center;
}
.directions{
    color: rgb(29, 4, 68);
    padding: 20px;
   font-size: 20px;
   margin: auto;
}
.directions a{
    text-decoration: none;
    color: gold;

}
.directions a:hover{
    color: rgb(214, 14, 14);
}