div.prj{
    width: 85%;
    margin: auto;
    margin-top: 80px;
    border: 2px solid rgb(26, 27, 26);
    overflow: auto;
    background-color: rgb(34, 3, 63);
    margin-bottom: 10px;
    /*
    animation-name: prj;
    animation-duration: 24s;
    animation-delay: 4s;
    animation-iteration-count: infinite; */
}
.satis{
    float: right;
    
}
#advert{
   font-size: 25px; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   color: gold;
   text-align: center;

}
#about{
    font-size: 24px;
    color: white;
    text-align: center;
   

}
@keyframes prj{
    0%{background-color: rgb(34, 3, 63);}
    50%{background: linear-gradient(to right, rgb(40, 2, 66),grey);}
    100%{background-color: rgb(34, 3, 63);}
}
.setting{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    border-radius: 9px;
    background-color: grey;
}
.isett{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 400px;
    
    
    border-bottom: 4px solid gold;
    
}
.big{
     font-size: 29px;
     text-align: center;
     font-weight: bold;
}
.samples{
    background-color: black;
    width: 90%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
}
.portifolio{
    width: 350px;
    height: 300px;
   margin-left: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 40px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}
.portifolio img{
    border: 2px solid white;
    padding: 5px;
}

.footer{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    right: 0;
    flex-wrap: wrap;
    background: linear-gradient(to right, black,gray,rgb(10, 10, 10));

}

.directions{
    color: rgb(65, 233, 14);
    padding: 20px;
   font-size: 20px;
   margin: auto;
}
.directions a{
    text-decoration: none;
    color: rgb(223, 184, 13);

}
.directions a:hover{
    color: brown;
}
.footr{
   
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#ftrl{
    color: antiquewhite;
    text-align: center;
}
.cnct {
    border-bottom: 3px solid burlywood;
}
