div.work{
    width: 100%;
    /*border: 3px solid green;*/
    overflow: hidden;
    margin-top: 70px;
    background: linear-gradient(to right, rgb(17, 17, 17),gray);
    border-radius: 8px;
    margin-bottom: 10px;
    

}
.wk{
    float: right;
    margin-right: 100px;
    margin-left: 50px;
}
h2.wok{
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    color: gold;
}
p.kw{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    color: white;
}
.work1{
    height: 300px;
    width: 300px;
   
    margin-top: 15px;
    background-color: gray;
    border-radius: 10px;
    float: left;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-right: 50px;
    color: white;
}
body{
    background-color: rgba(133, 156, 140, 0.301);
}
h3{
    margin: 10px;

}
button{
    margin: 20px;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 7px;
    
    background-color: gold;
}
#hector{
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
   
}
button:hover{
    cursor: pointer;
    background: goldenrod;
}


.footer{
   
    width: 100%;
    background: linear-gradient(to right, grey, black,rgb(57, 4, 100));
    overflow: hidden;
}
#ftr{
    color: antiquewhite;
    text-align: center;
}